
// ===========================================================================
// Site (CONFIG) LESS: see lessapp.org
// This LESS file is compiled into config.css
// @author David Hund <http://valuedstandards.com/>
// ===========================================================================

// CONFIG: Colors
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@color_text:          #333333;  // Darkgrey
@color_text_alt:      #757575;  // Lightgray
@color_link:          #54A4DE;  // Lt Blue
@color_link_hover:    #FF9834;  // Orange
@color_link_visited:  #FFBF80;  // Lt Orange
@color_border:        #CCC;     // Gray
@color_border_alt:    #e8e8e8;  // Lightestgray
@color_heading_alt:   @color_text_alt;

// CONFIG: Sizes
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@font_size_base:      100%;     // ~= 16px
@font_size_body:      1em;      // ~= 16px
@line_height:         1.5;
@base_line:           @line_height*@font_size_body; // ~= 24px
@page_width:          54em;    // ..
@column_width:        16em;  // 3 cols (3*16 = 48) in 54em + (3 * 1.5 gutter)
@gutter_width:        1.5em;   // ..

@column_width:        30%;  // In % now...
@gutter_width:        2%;   // ..


// CONFIG: Fonts
// See e.g. - http://coding.smashingmagazine.com/2009/09/22/complete-guide-to-css-font-stacks/
// Could use @font-face from fonts.less
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@font_family_body: 'Droid Sans', sans-serif;
@font_family_headings: 'Droid Serif', serif;
@font_family_alt: serif;

