
// ===========================================================================
// Site (CONFIG) LESS: see lessapp.org
// This LESS file is compiled into config.css
// @author David Hund <http://valuedstandards.com/>
// ===========================================================================

// CONFIG: Colors
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@color_text:          #333333;  // Darkgrey
@color_text_alt:      #757575;  // Lightgray
@color_link:          #009;     // Blue
@color_link_hover:    #F60;     // Orange
@color_link_visited:  #A79;     // Purple
@color_border:        #CCC;     // Gray
@color_border_alt:    #e8e8e8;  // Lightestgray
@color_heading_alt:   @color_text_alt;

// CONFIG: Sizes
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@page_width:          920px;    // ..
@font_size_body:      1.2em;    // ~= 12px
@line_height:         1.4;
@vertical_margin:     (1.333*@font_size_body);        // ~ 16px
@margin_bottom:       (@line_height*1em); // ~ 16px


// CONFIG: Fonts
// Verdana based - http://coding.smashingmagazine.com/2009/09/22/complete-guide-to-css-font-stacks/
// Simpler Alternative: font-family: Verdana, Geneva, sans-serif; /* http://cssfontstack.com/ */
// Should use @font-face from fonts.less
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@font_family_body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
@font_family_headings: @font_family_body
@font_family_alt: serif;

